@import "tailwindcss";

body {
  background: radial-gradient(
      1200px circle at 10% 10%,
      rgba(139, 92, 246, 0.15),
      transparent 40%
    ),
    radial-gradient(
      1200px circle at 90% 20%,
      rgba(99, 102, 241, 0.15),
      transparent 40%
    ),
    #05010d;
  color: white;
}
